body {
  padding-top: 0px;
}
/*@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

.navbar-brand,
.navbar-nav li a {
    line-height: 60px;
    height: 60px;
    padding-top: 0;
}
.navbar {
   min-height: 60px;
}
.dropdown-menu li a {
    line-height: 40px;
    height: 40px;
    padding-top: 0;
}
*/

/* BORDER for TABS go here (does not look good if small / mobile */

/*
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}
*/

.navbar-container { }
.panel-navbar { 
	min-height: 35px;
	margin-bottom: 5px;
	background-color: #fefefe;
    border: 1px solid #dddddd;
    border-radius:2px;
	outline: none;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	
	}
.panel-navbar-body { padding: 5px;}

.progress {
	min-height: 20px;
	text-align:center;
}
.progress-value {
    position:absolute;
    right:0;
    left:0;
}

/* css to center the bootsrap progress bars text (needs a span with the class center) */
.progress .center {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}

.divide-nav{
  /* height: 185px; */
  /* background-color: #428bca; */
}

.thumb-hover {
	min-height: 370px;
}


.thumb-hover:hover {
	background-color: #eeeeee;
    border: 0px solid #dddddd;
    border-radius:3px;
}
/* Crosshair Style */
.crosshair {
  display: block;
  position: relative;
  overflow: hidden;
}
.crosshair img {
  width: 100%;
}
.crosshair .hair {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -3px;
  margin-left: -2px;
  background: transparent;
  border-top: 3px solid black;
  border-left: 3px solid black;
  pointer-events: none;
  z-index: 2;
  opacity: 0.5;
}
.crosshair .hair.hair-vertical {
  height: 100%;
}
.crosshair .hair.hair-horizontal {
  width: 100%;
}
.crosshair .crosshair-legend,
.crosshair .crosshair-marker{
  display: block;
  position: absolute;
}
.crosshair .crosshair-legend {
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 10px;
  padding: 3px;
}
.crosshair .crosshair-marker {
  width: 5px;
  height: 5px;
  background-color: #aa1100;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  opacity: 0.5;
}

footer {
	padding-top: 25px;
	padding-bottom: 25px;	
}

